<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12  col-md-10 offset-md-1">
              <div class="mb-5">
                <h2 class="h3">Editing Blog</h2>
              </div>
            </div>
          </div>
            <%= render "form", blog: @blog %>
        </div>
      </div>
    </div>
  </div>
</div>